<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <header>
      <h1>Secret club</h1>
      <div>
        <a href="signup">Sign up</a>
        <a href="login">Log in</a>
      </div>
    </header>

    <main>
      <% users.forEach(user => { %> <% if(user.title !== null && user.text !==
      null) { %>
      <p>
        Posted by <strong>anonymous</strong> at
        <i>#####</i>
      </p>

      <h3><%= user.title %></h3>
      <p><%= user.text %></p>
      <hr />
      <% } %> <% }) %>
    </main>

    <section>
      <p>
        <a href="signup">Create an account</a> or <a href="login">log in</a>.
      </p>
    </section>
  </body>
</html>
