<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Join the club</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <h1>Join the club</h1>

    <form action="/join-club" method="POST">
      <label for="passcode">Passcode:</label>
      <input type="password" id="passcode" name="passcode" />

      <button type="submit">Join</button>
    </form>
  </body>
</html>
