* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 10px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 20px 0;
}

header > div {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form > input,
form > button {
  font-size: 24px;
  margin: 5px;
  padding: 5px;
}
